# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# IDE
.vscode/
.idea/

# Data: keep folders, not generated/heavy files
data/raw/*
!data/raw/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/quarantine/*
!data/quarantine/.gitkeep

# dbt generated
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/

# Tableau local/temp
*.hyper
*.tfl
*.tflx

# OS
.DS_Store
Thumbs.db
